<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="static/css/style.css" />
    <title>Coba Tiru Codeacademy</title>
  </head>
  <body>
    <div class="container">
      <div class="column">
        <header>Learn</header>
        <h6>WELCOME TO CODEACADEMY!</h6>
        <h2>Write some code!</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati
          adipisci unde pariatur nam natus dolore dolorem quam delectus sunt
          doloremque hic blanditiis rem tempore amet odit et voluptates, iste
          quod.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro veniam
          consequatur eveniet iusto velit sequi, autem sapiente nobis sed, vero
          quos id alias eligendi odio ea delectus et incidunt. Quod?
        </p>
      </div>
      <div class="column">
        <div class="editor__wrapper">
          <div class="editor__header">main.py</div>
          <div id="editorCode" class="editor__body"></div>
          <div class="editor__footer">
            <button class="editor__run">Run</button>
            <button class="editor__reset">Reset</button>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="editor__header">Output</div>
        <div class="editor__console" id="demo">
        </div>
      </div>
    </div>

    <script src="static/js/lib/ace.js"></script>
    <script src="static/js/index.js"></script>
  </body>
</html>
